################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Sources/WinService/obj
/Sources/.vs/BDP/FileContentIndex
/Sources/WinWindow/obj
/Sources/WinWindow/.vs/WinWindow
